<%- include('header'); -%>

<h1><%= title %></h1>
<div class="row">
  <form class="col s12" action="/login" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" name="username">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
<%- include('footer'); -%>
